
<div class="header_top">
    <div class="row align-items-center">
        <div class="col-lg-4 col-md-5">
            <div class="antomi_message">
                <p>ارسال رایگان - ضمانت بازگشت وجه 30 روزه</p>
            </div>
        </div>
        <div class="col-lg-8 col-md-7">
            <div class="header_top_settings text-right">
                <ul>
                    <li><a href="#">آدرس‌های فروشگاه</a></li>
                    <li><a href="#">پیگیری سفارش</a></li>
                    <li>تلفن تماس: <a class="ltr-text" href="tel:+(+98)800456789">(+98) 800 456 789 </a>
                    </li>
                    <li>ضمانت کیفیت محصولات</li>
                </ul>
            </div>
        </div>
    </div>
</div>