
{% include 'products_app/partials/product_header.html' with title='محصولات ارزان' id='cheap' %}

<div class="tab-content">
        {% for group,products in products_groups.items %}
            <div class="tab-pane fade show" id="{{group.slug}}-cheap" role="tabpanel">
                <div class="product_carousel product_style product_column5 owl-carousel">
                    
                    {% for product in products %}
                        {% include 'products_app/partials/product_box.html' with type=1 label='ارزان' %}
                    {% endfor %}
                        
                </div>
            </div>    
        {% endfor %}
</div>
    
